name: frontend-pipeline

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions: write-all

jobs:
  
  main-workflow:
    uses: Proyecto-Devops-2024/devops-repo/.github/workflows/main-frontend.yml@main
    with:
      sonar_project_key: Proyecto-Devops-2024_frontend-vue
    secrets: inherit